/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Stylesheet*/

body{
  background-color: rgb(13, 13, 28);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header{
  padding: 10px;
  font-family: 'Rubik';
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > button:first-of-type{
  display: flex;
  justify-content: center;
  align-items: center;
  border: #252525 1px solid;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 20px;
  background-color: rgba(115, 115, 115, 0.297);
}

header button img{
  width: 100%;
  height: 100%;
  filter: invert(100%);
}

.forecast-container{
  position: relative;
  padding: 10px;
  font-family: 'Rubik';
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.forecast-container > h2:first-of-type{
  align-self: center;
  text-align: center;
}

.forecast-container > .temp-container > div > h1 > span{
  color: #266eff;
}

.temp-container{
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.temp-container > div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px
}

.min > h1{
  font-size: 2rem;
}

.max > h1{
  font-size: 2rem;
}

.now > h1{
  font-size: 3rem;
}

.forecast-container > div > div > img:first-of-type{
  height: 10rem;
  width: 10rem;
  z-index: 1;
  filter: invert(100%);
}

.forecast-container > div{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast-container > .weather-image > div{
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  height: 250px;
  width: 310px;
}

.forecast-container > div > img:last-of-type{
  position: absolute;
  z-index: -1;
  height: 260px;
  width: 260px;
  animation: glow 10s ease-in-out infinite;
}

@keyframes glow {
  0%{transform: rotate(0deg,50deg);}
  25%{transform: rotate(10deg,25deg);}
  50%{transform: rotate(15deg,10deg);}
  75%{transform: rotate(10deg,25deg);}
  100%{transform: rotate(0deg,50deg);}  
}

.forecast-container > h2{
  align-items: start;
}

.info-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.info-container > ul{
  gap: 70px;
}

.info-container > ul > li{
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
  font-size: 0.9rem;
}

.info-container > ul > li > h3:last-of-type{
  color: #cacaca;
  font-size: 0.8rem;  
}

.info-container > ul > li > img{
  height: 3rem;
  filter: invert();
}

footer{
  position: relative;
  height: 30px;
  padding: 25px;
  bottom: 0;
  font-family: 'Rubik';
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2525253d;
}

footer > button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: rgba(115, 115, 115, 0);
}

footer > button:hover > img{
  opacity: 1.2;
}

footer > button:focus > img{
  opacity: 1;
}

footer > button > img{
  width: 20px;
  height: 20px;
  filter: invert();
  opacity: 0.6;
}


ul{
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button SLider from W3Schools */

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.297);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  top: 3px;
  left: 2px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgba(255, 255, 255, 0.297);
}

input:focus + .slider {
  box-shadow: 0 0 3px #ffffff52;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Overlay */

.overlay{
  z-index: 10;
  position: absolute;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(30px);
  background-color: #ffffff1b;
}

.overlay-content{
  text-align: center;
  color: #ffffff;
  font-family: 'Rubik';
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.overlay-content > img{
  width: 10rem;
  height: 10rem;
  filter: invert();
}

.overlay-content > h1{
  font-size: 2rem;
  padding: 20px;
}

.overlay-content > h2{
  padding: 30px;
  font-size: 1.5rem;
}

.overlay-content > button{
  background: linear-gradient(90deg, rgb(115, 52, 242) 0%, rgba(180,0,207,1) 100%);
  border: none;
  border-radius: 10px;
  height: 60px;
  width: 50%;
  color: #ffffff;
  font-size: 1rem
}

.hidden{
  display: none;
  position: absolute;
  top: -1000px
}

.seven-day-forecast{
  padding-bottom: 20px;
}

.seven-day-forecast > h1{
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'Rubik';
  padding-bottom: 30px;
}

.seven-day-forecast > div > .today{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px;
  width: 70%;
}

.seven-day-forecast > div > .today > h3{
  font-size: 0.8rem;
}

.seven-day-forecast > div > .today > img{
  filter: invert();
}

.seven-day-forecast > div{
  color: #ffffff;
  font-family: 'Rubik';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.day-card{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%
}

.seven-day-forecast > div >.day-card > img{
  filter: invert();
}

.seven-day-forecast > div > .day-card > h3{
  font-size: clamp(0.6rem,0.8rem,0.8rem);
}

.search-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.search-content > form{
  color: #ffffff;
  font-family: 'Rubik';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-content > form > label{
  padding-top: 20px;
  padding-bottom: 10px;
}

.search-content > form > input{
  padding: 10px;
  background-color: #ffffff2c;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.search-content > form > input:focus{
  background-color: #ffffff6f;
  outline-style: double;
  outline-width: 3px;
  outline-color: #266eff
}

.search-content > form > button{
  margin-top: 30px;
  background: linear-gradient(90deg, rgb(115, 52, 242) 0%, rgba(180,0,207,1) 100%);
  width: 100px;
  height: 40px;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  font-family: 'Rubik';
}

.settings-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.settings-content > div{
  color: #ffffff;
  gap: 10px;
  display: flex;
  align-items: center;
}

.settings-content > div > h1{
  font-family: 'Rubik';
}